/* main */
* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

/* tags */
.heanding2 {
    font-size: 24px; 
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

h5 {
    margin-top: 10px;
}

h2.heanding2 {
    text-align: center;
}

li {
    margin-top: 10px;
    font-size: 20px;
}

/* section */
.about {
    display: inline-block;
}

.wraper_economic_value {
    position: relative;
    height: 750px;
    /* width: auto; */
}

.wraper_economic_value img{
    position: absolute;
    top: 0;
    left: 300px;
    height: 100%;
    width: auto;
    z-index: -1;
}

section.groving, section.advantages, section.progect {
    background: url(../img/main_bg.png) center center/cover no-repeat;
}

section.groving, section.advantages, section.progect {

    border: 1px solid black;   
}

.wraper_up, .progect {
    text-align: center;
}

.progect_wraper,  .wraper_rental,  .economic_value_container {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
}

.economic_value_container {
    display: flex;
    justify-content: space-around;
    min-height: 200px;
}

/* divs */
.groving, .advantages, .about, .progect, .text_single,  .economic_value, .economic_value_item{
    margin: 10px;
    font-size: 20px; 
}

.progect_item {
    width: 400px;
}

.progect_item {
    width: 400px;
}

.economic_value_item {
    width: 300px;
}

.economic_value_group p {
    font-size: 20px;
}

.tg, .wt {
    display: flex;
    justify-content: center;
}

.wt img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.wt_item {
    margin: auto 0;
    padding: 5px;
    font-size: 28px;
}

.text_allot {
   font-size: 20px; 
   font-weight: 700;
}