/* main */
* {
    box-sizing: border-box;
    margin: 0;
}

/* tags */
header{
    height: 180px;
    position: fixed; /* Фиксированное позиционирование */
    left: 0; right: 0; /* Вся ширина */
    top: 0; /* Положение сверху */

}

h3 {
    font-size: 20px;
}

h5 {
    margin-top: 10px;
}

h2.heanding2 {
    text-align: center;
    font-size: 36px;
}

li {
    margin-top: 10px;
    font-size: 20px;
}

nav {
    background-color: #f4f5fa;
    padding-bottom: 5px;
    padding-right: 32px;
}


section.groving, section.advantages{
    background: url(../img/main_bg.png) center center/cover no-repeat;
}

section.groving, section.advantages {

    border: 1px solid black;   
}

/* section */
.about {
    display: inline-block;
}

.cloud{
    margin-top: 200px;
}

.border-1 {
    border: black solid 1px;
}

.br-5 {
    border-radius: 5%;
}

.hat {
    background-color: white;
}

.heanding2 {
    font-size: 24px; 
    margin-bottom: 10px;
}

.fs24 {
    font-size: 24px;
}

.fs20 {
    font-size: 20px;
}

.fs18 {
    font-size: 18px;
}

.groving, .advantages, .about, .progect, .text_single {
    margin: 10px;
    font-size: 20px; 
}

.mt-50{
    margin-top: 50px;
}

.mt-10{
    margin-top: 10px;
}

.ml-5{
    margin-left: 5px;
}

.mr-5 {

    margin-left: 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu .menu_link {
    font-size: 15px;
}

.pattern-white {
    border-radius: 24px;   
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    background-color: #fff; 
}

.pattern-gray {
    border-radius: 24px;   
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    background-color: #e3e6ed;
}

.pl-5 {
    padding-left: 5px;
}

.pr-5{
    padding-right: 5px;
}

 .progect {
    text-align: center;
}

.progect_item {
    width: 400px;
}

.progect_wraper,  .wraper_rental {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
}

.progect .container {
     background: url(../img/main_bg.png) center center/cover no-repeat;
}

.tg, .wt {
    display: flex;
    justify-content: center;
}

.text_allot {
   font-size: 20px; 
   font-weight: 700;
}
.text_uppercase {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}

.wraper_economic_value {
    position: relative;
    /* height: 750px; */
  
}

.wraper_economic_value img{
    position: absolute;
    top: 100px;
    left: 500px;
    height: 100%;
    width: auto;
    z-index: -1;
}

.wraper_up {
    margin-top: 20px;
    /* background-color: #f4f5fa; */
    text-align: center;
}

.wt img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.wt_item {
    margin: auto 0;
    padding: 5px;
    font-size: 28px;
}