* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

.groving, .advantages, .about, .progect, .heanding2 {
    margin: 10px;
    font-size: 20px; 
}

section.groving, section.advantages  {

    border: 1px solid black;
     background: url(../img/main_bg.png) center center/cover no-repeat;
    
}

.wraper_rental {
   display: flex;
}

.about {
    display: inline-block;
}

.wraper_up {
    text-align: center;
}
